
/_ReSharper.Improving.YeOldTdd
*.suo
/Improving.YeOldTdd.5.1.ReSharper.user
/src/Improving.YeOldTdd.Console/bin
/src/Improving.YeOldTdd.Console/obj
/test/Improving.YeOldeTdd.Console.Tests/bin
/test/Improving.YeOldeTdd.Console.Tests/obj
/_ReSharper.Improving.YeOldeTdd
/src/Improving.YeOldeTdd.Model/bin
/src/Improving.YeOldeTdd.Model/obj
/TestResults
/test/Improving.YeOldeTdd.Model.Tests/bin
/test/Improving.YeOldeTdd.Model.Tests/obj
*.user
/test/Improving.YeOldeTdd.Logic.Tests/obj
/test/Improving.YeOldeTdd.Logic.Tests/bin
/src/Improving.YeOldeTdd.Logic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Improving.YeOldeTdd.Logic/bin
/src/Improving.YeOldeTdd.Logic/obj